/* app css stylesheet */
* {
  font-family: Courier;
}
.full-wrapper {
  margin: 0 auto;
  width: 70%;
}

.wrapper {
  margin: 0 auto;
}

.menu {
  list-style: none;
  border-bottom: 1px solid black;
  margin: 3px;
  padding: 5px;
}

.username {
  border-bottom: 3px solid #d34836;
}

.menu > li {
  text-decoration: none;
  display: inline;
}

.menu > li > p {
  margin: 20px;
  display: inline;
  float: right;
}

.menu > li > a {
  text-decoration: none;
  color: black;
}

.menu > li > a:hover {
  border-bottom: 3px solid #d34836;
} 

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.show-add-event {
  text-align: center;
  margin: 10px;
}

.addevent {
  display: block;
}

.submit-button {
  background: #d5d5d5;
  border-radius: 2px;
  border: none;
  color: black;
  text-decoration: none;
}

.submit-button:hover {
  background: #b5b5b5;
  text-decoration: none;
}

.submit-button:focus {
  outline: none;
  background: #a5a5a5;
}

.brand {
  height: 60px;
  width: 82px;
}

.brand:hover {
  background-color: #d5d5d5;
}

.signin-banner {
  text-align: center;
  padding: 10px;
}

#signin {
  margin: 10% auto 0 auto;
}

#signin > div > div {
  text-align: center;
}

.google-signin {
  text-align: center;
  margin: auto;
  width: 123px;
  height: 42px;
  border: none;
  cursor: pointer;
  background-image: url("rsz_google_base.png");
  background-repeat: none;
}

.google-signin:hover {
  background-image: url("rsz_google_hover.png");
  background-repeat: none;
}

.google-signin:active {
  background-image: url("rsz_google_press.png");
  background-repeat: none;
}

.brand-fill {
  text-align: center;
  margin: 30px;
}

#signin .wrapper {
  width: 80%;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.footer {
  text-align: center;
  font-size: 0.7em;
  position:absolute;
  bottom:0;
  width:100%;
  clear: all;
}
.footer p {
  margin:0;
}

.events {
  height: 480px;
  overflow-y: scroll;
  /*border-left: 3px solid black;
  border-right: 3px solid black;*/
}

.event {
  padding: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.creator {
  text-decoration: bold;
}

.attendee {
  margin: 5px;
}

.attendee a {
  text-decoration: none;
  color: black;
}

.attendee a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid #d34836;
}

.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

