/* app css stylesheet */

.wrapper {
  margin: 0 auto;
  width: 70%;
}

.menu {
  list-style: none;
  border-bottom: 1px solid black;
  margin: 3px;
  padding: 5px;
}

.menu > li {
  text-decoration: none;
  display: inline;
  font-family: Courier;
}

.menu > li > p {
  margin: 20px;
  display: inline;
  float: right;
} 

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.show-add-event {
  text-align: center;
  margin: 10px;
}

.addevent {
  font-family: Courier;
  float: right;
}

.submit-button {
  background: #d5d5d5;
  border-radius: 2px;
  border: none;
  font-family: Courier New;
  color: black;
  text-decoration: none;
}

.submit-button:hover {
  background: #a5a5a5;
  text-decoration: none;
}

.brand {
  height: 60px;
  width: 82px;
}

.brand:hover {
  background-color: #efefef;
}

#signin {
  font-family: Courier;
}

.signin-banner {
  text-align: center;
  padding: 10px;
}

#signin > div > div {
  text-align: center;
}

.google-signin {
  background-color: #4d90fe;
  border: none;
  border-radius:2px;
  color: white;
  padding: 5px;
}

.google-signin:hover {
  background-color: 
}

.brand-fill {
  text-align: center;
  margin: 30px;
}

#signin .wrapper {
  width: 80%;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.footer {
  font: Courier;
  text-align: center;
  font-size: 0.7em;
  position:absolute;
  bottom:0;
  width:100%;
}
.footer p{
  margin:0;
}


