<div id="container" ng-controller='profileController'>
  <h3>My Events</h3>
  <ul class='events' ng-show="eventsLoaded">
    <li class = 'event' ng-repeat="event in eventsList | orderBy:'datetime'">
      <div class='eventInfo'>
        <div class='creator'>{{event.attendees[0].name}}</div>
        <div class='description'>{{event.description}}</div>
        <div class='location'>{{event.location}}</div>
        <div class='time'>{{event.datetime | date : 'MM/dd/yyyy @ h:mma' }}</div>        
        <div class='reservation' ng-if="event.reserve"><a href="{{event.reserve}}">Make a Reservation</a></div>     

          Who's Going?:
          <div class='attendee' ng-repeat="attendee in event.attendees"><a href="">{{attendee.name}}</a></div>
        </div>
        <button class="submit-button" ng-click='joinEvent(event)'>Join this event!</button>
        <hr>
      </div>
    </li>
  </ul>
</div>