  <div class="show-add-event">
    <button class="submit-button" id="add-event-button" ng-click="showForm()">Add an Event</button>
  </div>

  <div class='addevent' ng-show="shown">
    <form name="eventForm" ng-submit="addEvent()">
      <input type= "text" placeholder="Event Location" ng-model = "newEvent.location">
      <input type= "text" placeholder="Event Description" ng-model = "newEvent.description">
      <input type= "date" ng-model = "newEvent.date">
      <input type= "time" ng-model = "newEvent.time">
      <button class="submit-button">Submit</button>
      <h1 ng-if="invalid">
        Please fill in all of the fields.
      </h1>
      <div id="authorize-div"></div>
    </form>
  </div>

<div id='container'>
  <div class="events-header"><h3>Events in Your Network</h3></div>
  <div class="spinner" ng-hide="eventsLoaded">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
  <ul class='events' ng-show="eventsLoaded">
    <li class = 'event' ng-repeat="event in eventsList | orderBy:'datetime'">
      <div class='eventInfo'>
        <div class='creator'><a class="link" href="">@{{event.attendees[0].name}}</a></div>
        <div class='description'>What: <strong>{{event.description}}</strong></div>
        <div class='location'>Where: <strong>{{event.location}}</strong></div>
        <div class='time'>When: <strong>{{event.datetime | date : 'MM/dd/yyyy @ h:mma' }}</strong></div>        
        <div class='reservation' ng-if="event.reserve"><a href="{{event.reserve}}">Make a Reservation</a></div>     

          Who's Going?:
          <div class='attendee' ng-repeat="attendee in event.attendees" ng-if="attendee !== event.attendees[0]"><a class="link" href="">{{attendee.name}}</a></div>
        </div>
        <button class="submit-button" ng-click='joinEvent(event)'>Wanna Join?</button>
        <br>
        <button class="submit-button danger" ng-click="deleteEvent(event)" ng-if="userInfo.name===event.attendees[0].name">Cancel Event</button>
        <hr>
      </div>
    </li>
  </ul>

<div ng-show="eventAddSuccess" class="absolute-center">
  <i class="fa fa-check-circle-o fa-5x"></i> 
  <p>Success! Your Event was Added!</p>
</div>

<div ng-show="eventAddSuccess" class="absolute-center">
  <i class="fa fa-check-circle-o fa-5x"></i>
  <p>Nice! We've added {{event.attendees[0].name}}'s event to your calendar!</p>
</div>
 
<div ng-show="eventJoinError" class="absolute-center">
  <i class="fa fa-exclamation-circle fa-5x"></i> 
  <p>You're already going to this event!</p>
</div>

</div>



